*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  font-size: 20px;
  font-weight: bold;
}

#label {
  font-size: 50px;
}

#lform, #aform, #rform {
  width: 290px;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px;
}

#uform {
  width: 100%;
  border: 3px solid black;
  border-radius: 20px;
}

#form {
  backdrop-filter: blur(5px);
}

.labels {
  font-size: 30px;
}

#productCard {
  height: 445px;
  width: 300px;
  border: 3px solid black;
  transition-duration: .4s;
  cursor: pointer;
}

#productCard:hover {
  scale: 1.1;
  box-shadow: 5px 5px;
  transition-duration: .4s;
  cursor: pointer;
}

#productCard2 {
  height: 445px;
  width: 300px;
  border: 3px solid black;
  transition-duration: .4s;
}

#productCard2:hover {
  scale: 1.1;
  box-shadow: 5px 5px;
  transition-duration: .4s;
}

#productImg {
  aspect-ratio: 16/9;
  height: 180px;
}

#productBody {
  height: 200px;
}

#productDesc {
  height: 80px;
  text-align: justify;
}

#productPrice {
  font-size: 20px;
}

#productImg {
  max-width: 100%;
}

#productName {
  font-size: 20px;
  overflow: hidden;
  height: 80px;
}

#productDesc {
  max-height: 140px;
  overflow: hidden;
  font-size: 13px;
}

#fullProductImgCon {
  width: 500px;
}

#fullProductImg {
  aspect-ratio: 12/9;
  width: 100%;
}

#fProductCon {
  width: 500px;
}

#fProductTitle {
  font-size: 30px;
}

#fProductPrice {
  font-size: 25px
}

#fProductDesc {
  font-size: 15px;
  text-align: justify;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#hContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: white;
}

#welcome {
  font-weight: bold;
  font-size: 65px;
}

#start {
  font-size: 33px;
}

#navbartest {
  position: absolute;
}

#toProducts {
  background-color: #bb49b8;
  color: white;
  border: 4px solid white;
  font-size: 25px;
}

#fcard {
  border: 3px solid black;
  box-shadow: 8px 8px;
}

#error {
  background-image: url(./images/error.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#err {
  color: white;
  border: 4px solid #00e8ff;
  backdrop-filter: blur(7px);
  border-radius: 40px;
}

#oops {
  font-size: 60px;
}

#goBack {
  font-size: 30px;
}

#goBack a{
  text-decoration: none;
  color: #fbff00;
}

#reload {
  border: 3px solid black;
  font-size: 25px;
}

#alabel {
  font-size: 40px;
}

.deldea {
  width: 120px;
  height: 50px;
  font-size: 20px;
  border: 3px solid black;
}

#del {
  background-color: red;
}

#dea {
  background-color: #ffe700;
}

#add {
  font-size: 20px;
  font-weight: bold;
  border: 4px solid black;
  background-color: #3ed43e;
}

#add, #del, #dea {
  transition-duration: .4s;
}

#add:hover, #del:hover, #dea:hover {
  scale: 1.1;
  transition-duration: .4s;
}

#flabel{
  font-size: 25px;
}

#addform {
  border: 3px solid black;
  border-radius: 30px;
}

#con, #buy {
  border: 3px solid black;
  border-radius: 30px;
  transition-duration: .4s;
}

#con:hover, #buy:hover {
  border: 3px solid black;
  border-radius: 30px;
  scale: 1.2;
  transition-duration: .4s;
}

#cartCard {
  width: 400px;
}

#cartname {
  font-size: 20px;
  height: 60px;
}

#email {
  font-size: 35px;
  color: #bb49b8;
}
